<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS}||%-5level|%logger{40}|%X{workunit}|%msg|%n</pattern>
    </encoder>
  </appender>

  <root level="ERROR">
    <appender-ref ref="CONSOLE" />
  </root>

  <logger name="ee.telekom.workflow" level="DEBUG" />
  <logger name="ee.telekom.workflow.util.StatisticsLoggingAspect" level="DEBUG" />
  <logger name="ee.telekom.workflow.util.AdvancedBeanRowMapper" level="INFO" />
  <logger name="org.springframework" level="WARN" />
  <logger name="org.apache.tomcat.jdbc" level="WARN" />
  <logger name="com.hazelcast" level="INFO" />
  <logger name="liquibase" level="INFO" />

</configuration>